language: php

php:
  - 5.4
  - 5.5
  - 5.6

services: mongodb

before_script:
  - echo "extension = mongo.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
  - phpenv config-rm xdebug.ini
  - composer install

script: vendor/bin/phpunit -c tests/
